.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

.pexel {
  width: 100%;
}

.pexel--noimage {
  margin-top: 2rem;
}

.pexel--noimage button {
  background: transparent;
  color: var(--dark-gray);
  font-size: 1.5rem;
  text-decoration: underline;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
}
