:root {
  --dark-gray: #424242;
  --mid-gray: #bdbdbd;
  --light-gray: #eeeeee;
  --dark-teal: #004d40;
  --disabled: #80cbc4;
  --light-teal: #00796b;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
